
.logo{
    width: 150px;
    
}

.card{
    margin: 20px;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 10px #000000;
    font-family: "PT Serif", serif;
}

.tarjeta{
    display: flex;
    justify-content: center;
}

p{
    padding-left: 20px;
}

h1{
    padding-left: 75px;
}

h2{
    padding-left: 20px;
    font-size: 17px;
}

.card:hover{
    background-color: #c996ff;
    transform: scale(1.05);
}

.footer{
    padding: 25px;
    text-align: center;
}

.footer a{
    text-decoration: none;
}

.tarjeta{
    display: flex;
    justify-content: center;
}

header{
    text-align: center;
}

nav li{
    display: inline;
    padding: 60px;
    font-size: 25px;
}

nav a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    text-decoration: underline;
}

main{
    background-color: #ffffff;
    color: black;
}

.welcome {
    padding: 20px;
    background-color: rgb(90, 69, 144); 
    text-align: center;
    color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
}

.courses {
    padding: 30px;
}

p{
    font-size: 18px;
    line-height: 1.4;
}

.welcome h1, .courses h2 {
    color: #ffffff;
}

.infocurso img {
    width: 225px;
    float: left;
    margin-right: 30px;
}


.infocurso {
    overflow: auto;
    margin-bottom: 30px;

}

footer{
    text-align: center;
    padding: 20px;
    background-color: rgb(90, 69, 144); 
}

.image{
    width: 600px;
    border: 2px solid black;
}


